
/*Main Styles
=========================*/
.main-header  {
background-color: #00539F;
padding-top: 150px;
height: 850px;
background-image: url('../img/tiger.jpg');
}

h1 {
  font-weight: 900;
  color: white;
  font-size: 32px;
font-family: 'Raleway', sans-serif;

}

h2 {
  font-weight: bold
  color: white;
  font-size: 24px;
}

p  {
    color: black;
    font-family: sans-serif;
    font-size: 160%;
}

body {
background-color: white;


}

.css-selector {
  font-family: 'Font Name', serif;
}





/*Media Queries
==========================*/
/*phone*/
@media screen and (max-width: 320px)
{


}


/*tablet*/
@media screen and (min-width: 321px) and (max-width:768px)
{
  
}
