
/*Main Styles
=========================*/
.main-header  {
background-color: #00539F;
padding-top: 150px;
height: 850px;
background-image: url('../img/tiger.jpg');
}

/*Media Queries
==========================*/
